.border-custom th{
    border: 1px solid;
}

.border-custom td{
    border: 1px solid;
}

.border-custom tbody{
    border: 1px solid;
}

a.box{
    box-shadow: 5px 10px 2px rgba(0, 0, 0, 0.496);
    color: black;
    font-weight: bold;
}

a.box p{
    color:black
}

a.box:hover{
    box-shadow: 5px 10px rgb(57, 57, 57);
    color: black;
    font-weight: bold;
}